body {
  background-image: url('../images/free_range.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  
}

img {
  display: block;
  width: 7%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 30px;
}

h1 {
  color: #300D06;
  font-family: "CoventryGarden";
  font-size: 500%;
  margin: 0;
  position: relative;
  text-align: center;
  top: 50px;
}

p {
  font-family: 'Doppio One', sans-serif;
  font-size: 1.3em;
  position: relative;
  text-align: center;
  top: 150px;
}

nav {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: -20px;
  width: 700px;
}

nav ul {
  list-style-type: none;
  
}

nav li {
  background-color: #1F342B;
  float: left;
}

nav li:hover {
  background-color: #300D06;
}

nav li a {
  color: #CD7C1F;
  font-family: sans-serif;
  font-size: 1.5em;
  line-height: 2.5em;
  margin: 24px;
  text-decoration: none;
}

@font-face{
    font-family: "CoventryGarden";
    src: url('../fonts/COVENTRY.TTF'),
}